.edu-institute {
    font-weight: bold;
    font-size: 18px;
    
}

.subject {
    font-size: 16px;    
}
.work-headers {
    margin-bottom: 5px;
    font-size: 18px;
}

.work-titles,
.work-dates {
    margin-top: 0;
    margin-bottom: 0;
}
